{% extends 'base.html' %}

{% block title %}
    My songs
{% endblock %}

{% block content %}
    
    <h3>In this page you can find the songs you can already play.</h3>
    <table class="table table-hover table-dark">
        <thead>
            <tr>
                <th scope="col">Artist</th>
                <th scope="col">Song</th>
                <th scope="col">Tuning</th>
                <th scope="col">Options</th>
            </tr>
        </thead>
        <tbody>
                {% for song in songs %}
                    <tr>
                        <td>{{ song.artist }}</td>
                        <td>{{ song.song }}</td>
                        <td>{{ song.tuning }}</td>
                        <td>
                            <div class="row"> 
                                <form action="{{ url_for('tab_page') }}" method="POST" style="margin-right: 10px">
                                    <input type="hidden" name="title" value="{{ song.artist }} - {{ song.song }}">
                                    <input type="hidden" name="tab_url" value="{{ song.tab_url }}">
                                    <input type="hidden" name="tab" value="{{ song.tab }}">
                                    <input type="hidden", name="video_url", value="https://www.youtube.com/watch?v={{ song.video_id }}">
                                    <button type=submit class="btn btn-outline btn-info">
                                        <i class="fas fa-arrow-circle-right"></i> Go to Tab
                                    </button>
                                </form>
                                <form action="{{ url_for('delete_song_page') }}" method=post class=delete-song>
                                    <input type="hidden" name="database" value="My_Songs">
                                    <input type=hidden value="{{ song.artist }} - {{song.song}}" name=song_to_delete />
                                    <button type=submit class="btn btn-outline btn-danger">
                                        <i class="fas fa-trash-alt"></i> Delete
                                    </button>
                                </form>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
        </tbody>
    </table>
    <style>
        #input-group {
            display: flex;
        }
    

        #search-input-yt {
            width: 50%;
            margin: 10px;
            
        }

        #search-btn-yt {
            margin: 10px;
        }

    </style>
{% endblock %}