{% extends 'base.html' %}

{% block title %}
    Search for Songs
{% endblock %}

{% block content %}
    <div class="input-group">
        <input class=" border rounded-pill" type="text" placeholder="Search for tabs" id="search-input-yt">
        <span class="input-group-append">
            <button id="search-btn-yt" class="btn btn-outline-secondary bg-white border-start-0 border rounded-pill ms-n3" type="button">
                <i class="fa fa-search"></i>
            </button>
        </span>
    </div>
    <table class="table table-hover table-dark">
        <thead>
            <tr>
                <!-- Your Columns HERE -->
                <th scope="col">Thumbnail</th>
                <th scope="col">Title</th>
                <th scope="col">Video Url</th>
                <th scope="col">Options</th>
            </tr>
        </thead>
        <tbody>
            <!-- Your rows inside the table HERE: -->
                {% for item in items %}
                    <tr>
                        <td><img src={{ item.thumbnail_url }} class="img-responsive"></td>
                        <td>{{ item.title }}</td>
                        <td>{{ item.video_url }}</td>
                        <td>
                            <button class="btn btn-outline btn-info">Choose this video</button>
                        </td>
                    </tr>
                {% endfor %}
        </tbody>
    </table>

    <table class="table table-hover table-dark">
        <thead>
            <tr>
                <!-- Your Columns HERE -->
                <th scope="col">Id</th>
                <th scope="col">Artist</th>
                <th scope="col">Title</th>
                <th scope="col">Type</th>
                <th scope="col">Options</th>
            </tr>
        </thead>
        <tbody>
            <!-- Your rows inside the table HERE: -->
                {% for tab in tabs %}
                    <tr>
                        <td>{{ tab[0] }}</td>
                        <td>{{ tab[1] }}</td>
                        <td>{{ tab[2] }}</td>
                        <td>{{ tab[3] }}</td>
                        <td>
                            <button class="btn btn-outline btn-info">Choose this tab</button>
                        </td>
                    </tr>
                {% endfor %}
        </tbody>
    </table>
    <style>
        #input-group {
            display: flex;
        }
    

        #search-input-yt {
            width: 50%;
            margin: 10px;
            
        }

        #search-btn-yt {
            margin: 10px;
        }

    </style>
{% endblock %}