{% extends 'base.html' %}

{% block title %}
    Tab
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-5">
            <a class="btn btn-info btn-lg" href="{{ url_for('search_page') }}" style="margin-top: 10px; margin-left: 10px">
                <i class="fas fa-angle-left"></i> Back</a>
        </div>
        <div class="col-6" style="margin-top: 10px; margin-right: 10px; margin-left: 110px">
            <button class="btn btn-success btn-lg float-right">
                <i class="fas fa-plus"></i> Add to My Songs
            </button>
        </div>
    </div>

    <div>
        <h1 class="display-4 font-weight-normal"> {{ title }} </h1>
    </div>

    <div class="container pt-3 rounded bg-light text-dark">
        <div id="tab">{{ tab }}</div>
    </div>
    
    <style>

        h1 {
            text-align: center;
        }

        #tab {
            margin : 10px;
            display: block;
            font-family: monospace;
            white-space: pre;
        }
    </style>


{% endblock %}