{% extends 'base.html' %}

{% block title %}
    Wishlist
{% endblock %}

{% block content %}
{% include 'helpers/song_modals.html' %}
    
    <h3>In this page you can find the songs you would like to learn in the future.</h3>
    <div style="float: right; margin-right: 10px; margin-bottom: 10px">
        <button class="btn btn-success btn-lg" data-toggle="modal" data-target="#Modal-AddSong">
            <i class="fas fa-plus"></i> Add Song
        </button>
    </div>
    <table class="table table-hover table-dark">
        <thead>
            <tr>
                <!-- Your Columns HERE -->
                <th scope="col">Artist</th>
                <th scope="col">Song</th>
                <th scope="col">Options</th>
            </tr>
        </thead>
        <tbody>
            {% for song in songs %}
                <tr>
                    <td>{{ song.artist }}</td>
                    <td>{{ song.song }}</td>
                    <td>
                        <div class="row">
                            <form action="{{ url_for('search_page') }}" method=post style="margin-right: 10px">
                                <input type=hidden value="{{ song.artist }}" name="artist"/>
                                <input type=hidden value="{{ song.song }}" name="song">
                                <input type=submit value='Search for tabs' class="btn btn-outline btn-info">
                            </form>
                            <form action="{{ url_for('delete_song_page') }}" method=post class=delete-song>
                                <input type="hidden" name="database" value="Wishlist">
                                <input type=hidden value="{{ song.artist }}, {{ song.song }}"name=song_to_delete />
                                <input type=submit value='Delete' class="btn btn-outline btn-danger">
                            </form>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <style>
        #input-group {
            display: flex;
        }
    
        #search-input-yt {
            width: 50%;
            margin: 10px;
            
        }

        #search-btn-yt {
            margin: 10px;
        }

    </style>
{% endblock %}